{% extends 'base.html' %}

{% block body %}
<body>
    {% include 'navbar.html' %}

    <section class="contact-clean" style="padding-top:120px; padding-bottom:20px">
        <form method="post" action="addemp">
          {% csrf_token %}
            <h2 class="text-center">Register</h2>
            <div class="mb-3"><input class="form-control" type="text" name="first_name" placeholder="First Name" value="{{ first_name }}"></div>
            <div class="mb-3"><input class="form-control" type="text" name="last_name" placeholder="Last Name" value="{{ last_name }}"></div>
            <div class="mb-3"><input class="form-control" type="number" name="salary" placeholder="Salary" value="{{ salary }}"></div>
            <div class="mb-3"><input class="form-control" type="number" name="dept" placeholder="Department" value="{{ dept }}"></div>
            <div class="mb-3"><input class="form-control" type="number" name="role" placeholder="Role" value="{{ role }}"></div>
            <div class="mb-3"><input class="form-control" type="number" name="bonus" placeholder="Bonus" value="{{ bonus }}"></div>
            <div class="mb-3"><input class="form-control" type="number" name="phone" placeholder="phone_No" value="{{ phone }}"></div>
            <div class="mb-3"></div>
            <div class="mb-3"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </section>

    {% include 'footer.html' %}
</body>
{% endblock %}