<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Office Management</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'vanilla-zoom.min.css' %}">

    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'vanilla-zoom.js' %}"></script>
    <script src="{% static 'theme.js' %}"></script>

    <link rel="stylesheet" href="{% static 'simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'Table-With-Search-1.css' %}">
    <link rel="stylesheet" href="{% static 'Table-With-Search.css' %}">
    <script src="{% static 'Table-With-Search.js' %}"></script>

    <link rel="stylesheet" href="{% static 'Contact-Form-Clean.css' %}">

</head>
{% block body %}

{% endblock %}

</html>